<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
    <!--<add name="cs" connectionString="data source=LAPTOP-E5Q713TQ;initial catalog=dbCoepd;user id=sa;password=123;integrated security=true; connection timeout=120;connection lifetime=120;max pool size=100;" />
    <add name="cs1" connectionString="data source=LAPTOP-E5Q713TQ;initial catalog=dbCoepdJobs;user id=sa;password=123;integrated security=true; connection timeout=120;connection lifetime=120;max pool size=100;" />
    <add name="cs2" connectionString="data source=LAPTOP-E5Q713TQ;initial catalog=dbcoepdexams; user id=sa;password=123;integrated security=true; connection timeout=120;connection lifetime=120;max pool size=100;" />
    <add name="cs3" connectionString="data source=LAPTOP-E5Q713TQ;initial catalog=dbcoepdplacements; user id=sa;password=123;integrated security=true; connection timeout=120; connection lifetime=120; max pool size=100;" />
    <add name="cs4" connectionString="data source=LAPTOP-E5Q713TQ;initial catalog=dbCoepdFAQs; user id=sa;password=123;integrated security=true; connection timeout=120; connection lifetime=120; max pool size=100;" />
    <add name="Inventory" connectionString="data source=LAPTOP-E5Q713TQ;initial catalog=dbCoepdInventory; user id=sa;password=123;integrated security=true; connection timeout=120; connection lifetime=120; max pool size=100;" />
    <add name="Zoom" connectionString="data source=LAPTOP-E5Q713TQ;initial catalog=dbCoepdZoom; user id=sa;password=123;integrated security=true; connection timeout=120; connection lifetime=120; max pool size=100;" />
    <add name="Nurturing" connectionString="data source=LAPTOP-E5Q713TQ;initial catalog=dbCoepdNurturing; user id=sa;password=123;integrated security=true; connection timeout=120; connection lifetime=120; max pool size=100;" />
    <add name="ReferFriend" connectionString="data source=LAPTOP-E5Q713TQ;initial catalog=dbCoepdReferFriend; user id=sa;password=123;integrated security=true; connection timeout=120; connection lifetime=120; max pool size=100;" />
    <add name="cs5" connectionString="data source=LAPTOP-E5Q713TQ;initial catalog=dbCoepdFMS; user id=sa;password=123;integrated security=true; connection timeout=120; connection lifetime=120; max pool size=100;" />
    <add name="cs6" connectionString="data source=LAPTOP-E5Q713TQ;initial catalog=dbCoepdHrSlots; user id=sa;password=123;integrated security=true; connection timeout=120; connection lifetime=120; max pool size=100;" />
    <add name="cs7" connectionString="data source=LAPTOP-E5Q713TQ;initial catalog=dbCoepdEnquiry; user id=sa;password=123;integrated security=true; connection timeout=120; connection lifetime=120; max pool size=100;" />
    <add name="cs8" connectionString="data source=LAPTOP-E5Q713TQ;initial catalog=dbCoepdValue; user id=sa;password=123;integrated security=true; connection timeout=120; connection lifetime=120; max pool size=100;" />-->
    
		<add name="cs" connectionString="Data Source=68.178.162.96;Initial Catalog=dbCoepd;User ID=SA;pwd=UF186Sa1;Connection Timeout=100;Connection Lifetime=100;Max Pool size=200;" />
		<add name="cs1" connectionString="Data Source=68.178.162.96;Initial Catalog=dbCoepdJobs;User ID=SA;pwd=UF186Sa1;Connection Timeout=100;Connection Lifetime=100;Max Pool size=200;" />
		<add name="cs2" connectionString="Data Source=68.178.162.96;Initial Catalog=dbCoepdExams;User ID=SA;pwd=UF186Sa1;Connection Timeout=100;Connection Lifetime=100;Max Pool size=200;" />
		<add name="cs3" connectionString="Data Source=68.178.162.96;Initial catalog=dbCoepdPlacements; User ID =SA; pwd=UF186Sa1; Connection Timeout=100;Connection Lifetime=100;Max Pool size=200;" />
		<add name="cs4" connectionString="Data Source=68.178.162.96;Initial catalog=dbCoepdFAQs; User ID =SA; pwd=UF186Sa1; Connection Timeout=100;Connection Lifetime=100;Max Pool size=200; "/>
		<add name="Inventory" connectionString="Data Source=68.178.162.96;Initial catalog=dbCoepdInventory; User ID =SA; pwd=UF186Sa1; Connection Timeout=100;Connection Lifetime=100;Max Pool size=200; "/>
		<add name="Nurturing" connectionString="Data Source=68.178.162.96;Initial catalog=dbCoepdNurturing; User ID =SA; pwd=UF186Sa1; Connection Timeout=100;Connection Lifetime=100;Max Pool size=200; "/>
		<add name="Zoom" connectionString="Data Source=68.178.162.96;Initial catalog=dbCoepdZoom; User ID =SA; pwd=UF186Sa1; Connection Timeout=100;Connection Lifetime=100;Max Pool size=200; "/>
		<add name="ReferFriend" connectionString="data source=68.178.162.96;initial catalog=dbCoepdReferFriend; user id=sa;password=UF186Sa1; connection timeout=120; connection lifetime=120; max pool size=100;" />
		<add name="cs5" connectionString="data source=68.178.162.96;initial catalog=dbCoepdFMS; user id=SA;password=UF186Sa1; connection timeout=120; connection lifetime=120; max pool size=100;" />
		<add name="cs6" connectionString="data source=68.178.162.96;initial catalog=dbCoepdHrSlots; user id=SA;password=UF186Sa1; connection timeout=120; connection lifetime=120; max pool size=100;" />
		<add name="cs7" connectionString="data source=68.178.162.96;initial catalog=dbCoepdEnquiry; user id=SA;password=UF186Sa1; connection timeout=120; connection lifetime=120; max pool size=100;" />
    <add name="cs8" connectionString="data source=68.178.162.96;initial catalog=dbCoepdValue; user id=SA;password=UF186Sa1; connection timeout=120; connection lifetime=120; max pool size=100;" />
		<add name="cs9" connectionString="data source=68.178.162.96;initial catalog=dbCoepdSession; user id=SA;password=UF186Sa1; connection timeout=120; connection lifetime=120; max pool size=100;" />
		<add name="cs10" connectionString="data source=68.178.162.96;initial catalog=dbCoepdKPI; user id=SA;password=UF186Sa1; connection timeout=120; connection lifetime=120; max pool size=100;" />

		<!--<add name="cs" connectionString="Data Source=A2NWPLSK14SQL-v02.shr.prod.iad2.secureserver.net;Initial Catalog=dbCoepd;User ID=dbcoepduser;pwd=XExa8q90@;Connection Timeout=300;Connection Lifetime=300;Max Pool size=200;"/>
    <add name="cs1" connectionString="Data Source=1A2NWPLSK14SQL-v02.shr.prod.iad2.secureserver.net;Initial Catalog=dbCOEPDII;User ID=dbCOEPDIIUser;pwd=A0^7yrq4;Connection Timeout=300;Connection Lifetime=300;Max Pool size=200;"/>
    <add name="cs2" connectionString="Data Source=A2NWPLSK14SQL-v02.shr.prod.iad2.secureserver.net;Initial Catalog=dbCoepdExams;User ID=dbCoepdExamUser;pwd=B1gn#u70;Connection Timeout=300;Connection Lifetime=300;Max Pool size=200;"/>
    <add name="cs3" connectionString="Data Source=A2NWPLSK14SQL-v02.shr.prod.iad2.secureserver.net;Initial catalog=dbCoepdPlacements; User ID =dbCoepdPlacementsUser; pwd=5!ba31xI; Connection Timeout=300;Connection Lifetime=300;Max Pool size=200; "/>
    <add name="cs4" connectionString="Data Source=A2NWPLSK14SQL-v02.shr.prod.iad2.secureserver.net;Initial catalog=dbCoepdFAQs; User ID =dbCoepdFAQsUser; pwd=25s5Ajn#Z; Connection Timeout=300;Connection Lifetime=300;Max Pool size=200; "/>
		<add name="cs" connectionString="Data Source=194.233.81.245;Initial Catalog=dbCoepd;User ID=SA;pwd=cC1ve160Vy2B9pO8pnT7;Connection Timeout=300;Connection Lifetime=300;Max Pool size=200;" />
    <add name="cs1" connectionString="Data Source=194.233.81.245;Initial Catalog=dbCoepdJobs;User ID=SA;pwd=cC1ve160Vy2B9pO8pnT7;Connection Timeout=300;Connection Lifetime=300;Max Pool size=200;" />
    <add name="cs2" connectionString="Data Source=194.233.81.245;Initial Catalog=dbCoepdExams;User ID=SA;pwd=cC1ve160Vy2B9pO8pnT7;Connection Timeout=300;Connection Lifetime=300;Max Pool size=200;" />
    <add name="cs3" connectionString="Data Source=194.233.81.245;Initial catalog=dbCoepdPlacements; User ID =SA; pwd=cC1ve160Vy2B9pO8pnT7; Connection Timeout=300;Connection Lifetime=300;Max Pool size=200;" />
    <add name="cs4" connectionString="Data Source=194.233.81.245;Initial catalog=dbCoepdFAQs; User ID =SA; pwd=cC1ve160Vy2B9pO8pnT7; Connection Timeout=300;Connection Lifetime=300;Max Pool size=200; "/>
    <add name="Inventory" connectionString="Data Source=194.233.81.245;Initial catalog=dbCoepdFAQs; User ID =SA; pwd=cC1ve160Vy2B9pO8pnT7; Connection Timeout=300;Connection Lifetime=300;Max Pool size=200;" />-->
		
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />

				<add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.8" />
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>